@import "./gridGlobal.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Teko";
        font-style: normal;
        font-weight: 300;
        src: url("../fonts/Teko-Light.ttf")
        format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "Teko";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/Teko-Regular.ttf")
        format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "Teko";
        font-style: normal;
        font-weight: 500;
        src: url("../fonts/Teko-Medium.ttf")
        format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "Teko";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/Teko-SemiBold.ttf")
        format("truetype");
        font-display: swap;
    }

    @font-face {
        font-family: "Teko";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/Teko-Bold.ttf")
        format("truetype");
        font-display: swap;
    }

    *{
        @apply font-teko;
    }
}
